/** Only for index.html **/

.site-header{
    color: #fff;
    background: #4183c4;
}
.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #9acfea;
}

.site-header a:hover {
    color: #fff;
}
.icon-logo{fill: #fff;}

.jumbotron {
    //background: #4183c4;
     background: url(https://img03.sogoucdn.com/net/a/04/link?url=https%3A%2F%2Fi02piccdn.sogoucdn.com%2F8334b8710f06d433&appid=122);
}

section.jumbotron {
    background: url(https://img03.sogoucdn.com/net/a/04/link?url=https%3A%2F%2Fi02piccdn.sogoucdn.com%2F8334b8710f06d433&appid=122);
}

.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}


.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}

.site-header .site-header-nav-item a {
    color: #9acfea;
}
